{{>nav}}
<div class=" history-order">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Khách hàng</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Địa chỉ nhận</th>
                <th scope="col">Ngày mua</th>
                <th scope="col">Trạng thái đơn hàng</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {{#each danhsach.rows}}
            <tr>
                <th scope="row" class="book-name-cart">{{this.username}}</th>
                <td>{{this.productname}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.addr}}</td>
                <td>{{this.date}}</td>
                <td>{{this.state}}</td>
                <td><a href="/admin/orders/id={{this.id}}"><button>Chi tiết</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>