<div class="container product-container">
    <div class="row">
        {{#with danhsach.rows.[0]}}
        <div class="col">
            <img src="{{this.bookimg}}" alt="#" id="book-img">
        </div>
        <div class="col">
            <br>
            <div>
                <h2 class="book-title-2" id="book-name">{{this.BookName}}</h2>
                <p>Mã sản phẩm: <span id="book-id">{{this.BookID}}</span></p>
                <div>
                    <br>
                    <p><strong>Tác giả:</strong> {{this.Author}}</p>
                    <p><strong>NXB:</strong> <a href="" id="publisher">{{this.Publisher}}</a> &nbsp; &nbsp; &nbsp;
                        <strong>Thể loại:</strong> <a href="" id="type">{{this.Type}}</a></p>
                    <p class="book-description-style">{{this.Description}}</p>
                    <h3 class="price-style display-inline" id="book-price" >{{this.Price}}</h3>
                    <h3 class="display-inline price-style"> đ</h3>
                    <br>
                    <div>
                        <div class="display-inline-block choose-number">
                            <p class="number-books-title">Số lượng: </p>
                            <input type="number" value="1" min="1" class="number-books" id="quantity">
                        </div>
                        <div class="display-inline-block">
                            <button class="buy-button" onclick="addToCart()">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    <br>
    <br>
    <div class="row">
        <h2>CÁC SÁCH THƯỜNG ĐƯỢC MUA CÙNG</h2>
    </div>
    <div class="row">
            {{#each danhsach2.rows}}
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <a href="/shop/product/id={{this.BookID}}?page=1"><img src="{{this.bookimg}}"
                            alt="{{this.BookID}}-img"></a>
                    <a href="/shop/product/id={{this.BookID}}?page=1">
                        <h3 class="favorite-book-align">{{this.BookName}}</h3>
                    </a>
                    <p class="favorite-book-align"><strong>{{this.Author}}</strong></p>
                    <h6 class="favorite-book-align price-style"><span class="price price-style">{{this.Price}}đ</span> / <a
                            href="/shop/product/id={{this.BookID}}?page=1">Mua ngay</a></h6>
                </div>
            </div>
            {{/each}}
        </div>
</div>

{{>comments}}

<script>

    function addToCart(){
        const id= document.getElementById('book-id').textContent;
        let item = localStorage.getItem(id);
        item= JSON.parse(item);
        if(item !== null)
        {
            item.qty += parseInt(document.getElementById('quantity').value);
            localStorage.setItem(id,JSON.stringify(item));
        }
        else
        {
        let img = document.getElementById('book-img').src;
        const name= document.getElementById('book-name').textContent;
        const price= parseFloat(document.getElementById('book-price').textContent);
        const qty= parseInt(document.getElementById('quantity').value);
        const index = img.indexOf("/images");
        if(index !== -1)
        {
            img = img.slice(index);
        }

        item = {id,name,img,price,qty};
        localStorage.setItem(id,JSON.stringify(item));
        }
    }




    function getPublisher(e) {
        e.preventDefault();
        const publisher = document.getElementById("publisher").textContent;
        if (publisher === "Nhã Nam") {
            window.location.replace("/shop/publisher=NXB-LaoDongNXB-NhaNam?page=1")
        }

        else if (publisher === "Nhà Xuất Bản Hội Nhà Văn") {
            window.location.replace("/shop/publisher=NXB-HNV?page=1")
        }

        else if (publisher === "Nhà Xuất Bản Trẻ") {
            window.location.replace("/shop/publisher=NXB-Tre?page=1")
        }

        else if (publisher === "Nhà Xuất Bản Lao Động") {
            window.location.replace("/shop/publisher=NXB-LaoDong?page=1")
        }

        else if (publisher === "Nhà Xuất Bản Tổng hợp TP.HCM") {
            window.location.replace("/shop/publisher=NXB-TH?page=1")
        }

        else if (publisher === "Nhà Xuất Bản Tri Thức") {
            window.location.replace("/shop/publisher=NXB-TriThuc?page=1")
        }

        else if (publisher === "Nhà Xuất Bản Thế Giới") {
            window.location.replace("/shop/publisher=NXB-TheGioi?page=1")
        }
    }

    function getType(e) {
        e.preventDefault();
        const typeName = document.getElementById("type").textContent;
        if (typeName === "Tiểu thuyết") {
            window.location.replace("/shop/type=TieuThuyet?page=1")
        }

        else if (typeName === "Tự truyện") {
            window.location.replace("/shop/type=TuTruyen?page=1")
        }

        else if (typeName === "Văn học") {
            window.location.replace("/shop/type=VanHoc?page=1")
        }
    }
    document.getElementById("publisher").onclick = getPublisher;

    document.getElementById("type").onclick = getType;
</script>