<div class="container">
    <div class="row">
        <div class="col-3" >
            <section>
                <div class="accordion" id="accordionExample">
                    <div class="see-all-books-container"> 
                        <p class="favorite-book-align see-all-books"><a href="/shop?page=1" class="see-all-books">XEM TẤT CẢ SÁCH</a></p>
                    </div>
                    <div class="card">
                        <div class="card-header filter-container" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-lin collapsed filter filter-title" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            THỂ LOẠI SÁCH
                            </button>
                        </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="filter-list">
                                    <a href="/shop/type=VanHoc?page=1" class="type-book-title"><li class="filter-elements">VĂN HỌC</li></a>
                                    <a href="/shop/type=TieuThuyet?page=1" class="type-book-title"><li class="filter-elements">TIỂU THUYẾT</li></a>
                                    <a href="/shop/type=TuTruyen?page=1" class="type-book-title"><li class="filter-elements">TỰ TRUYỆN</li></a>
                                </ul> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header filter-container" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-lin collapsed filter filter-title" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            NGÔN NGỮ
                            </button>
                        </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="filter-list">
                                <a href="/shop/lang=Vietnamese?page=1" class="type-book-title"><li class="filter-elements">TIẾNG VIỆT</li></a>
                                <a href="/shop/lang=Foreign?page=1" class="type-book-title"><li class="filter-elements">NGOẠI NGỮ</li></a>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header filter-container" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-lin collapsed filter filter-title" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            NHÀ XUẤT BẢN
                            </button>
                        </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="filter-list">
                                <a href="/shop/publisher=NXB-NhaNam?page=1" class="type-book-title"><li class="filter-elements">NHÃ NAM</li></a>
                                <a href="/shop/publisher=NXB-TriThuc?page=1" class="type-book-title"><li class="filter-elements">NXB TRI THỨC</li></a>
                                <a href="/shop/publisher=NXB-Tre?page=1" class="type-book-title"><li class="filter-elements">NXB TRẺ</li></a>
                                <a href="/shop/publisher=NXB-TheGioi?page=1" class="type-book-title"><li class="filter-elements">NXB THẾ GIỚI</li></a>
                                <a href="/shop/publisher=NXB-HNV?page=1" class="type-book-title"><li class="filter-elements">NXB HỘI NHÀ VĂN</li></a>
                                <a href="/shop/publisher=NXB-TH?page=1" class="type-book-title"><li class="filter-elements">NXB TỔNG HỢP TP.HCM</li></a>
                                <a href="/shop/publisher=NXB-LaoDong?page=1" class="type-book-title"><li class="filter-elements">NXB LAO ĐỘNG</li></a>   
                            </ul>
                        </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
        <div class="col">  
            <div class="d-flex flex-sm-wrap">
                {{#each danhsach.rows}}
                <div class="p-2 bd-highlight book-container">
                    <a href="/shop/product/id={{this.BookID}}"><img src="/images/{{this.bookimg}}" alt="{{this.BookID}}-img"></a>
                    <a href="/shop/product/id={{this.BookID}}"><h5 class="favorite-book-align shop-book-title" >{{this.BookName}}</h5></a>
                    <p class="favorite-book-align">{{this.Author}}</p>
                    <h6 class="favorite-book-align"><span class="price">{{this.Price}}đ</span> / <a href="/shop/product/id={{this.BookID}}">Mua ngay</a></h6>           
                </div>
                {{/each}}
            </div>
            <br>
            <nav aria-label="Page navigation example" class="display-pages">
                <ul class="pagination" id="pages">
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    window.onload = function()
    {     
        const pages = {{numbersOfPages}};
        let href;      
        href = window.location.pathname + "?page=";
        for(let i = 1 ; i <= pages ; i++)
        {
            const ul = document.getElementById('pages');
            const li = document.createElement("li");
            const a = document.createElement("a");
            a.appendChild(document.createTextNode(i));
            a.setAttribute("class","page-link");
            a.setAttribute("href",href+i.toString());
            li.appendChild(a);
            li.setAttribute("class", "page-item");
            ul.appendChild(li);
        }

    }
</script>